html, body, p, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, iframe{
	margin: 0;
	padding: 0;
}
html {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
body {
	overflow: hidden;
	background-color: #090909;
}
@mixin linear-gradient($params...) {
      background: -webkit-linear-gradient($params); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient($params); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient($params); /* For Firefox 3.6 to 15 */
      background: linear-gradient($params); /* Standard syntax */
}
@keyframes slidy {
	0% { left: 0%; }
	10% { left: 0%; }
	20% { left: -20%; }
	30% { left: -20%; }
	40% { left: -30%; }
	50% { left: -30%; }
	60% { left: -40%; }
	70% { left: -40%; }
	80% { left: -50%; }
	90% { left: -50%; }
	100% { left: -60%; }
}
@keyframes fallIn {
    0%{
    	margin-left: 0px;;
    }
    100%{
    	margin-left: -200px;
    }
}
@-webkit-keyframes fallIn {
    0%{
    	-webkit-transform: rotateY(90deg) rotateX(-45deg) scale(0);
    	transform: rotateY(90deg) rotateX(-45deg) scale(0);
    }
    100%{
    	transform: rotateY(0deg) rotateX(0deg) scale(1);
    	-webkit-transform: rotateY(0deg) rotateX(0deg) scale(1);
    }
}
.fall-in {
    -webkit-animation: slidy 10s forwards;
    animation: slidy 10s forwards;
}
@keyframes fadeIn {
    0%{
    	opacity: 0;
    }
    100%{
    	opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0%{
    	opacity: 0;
    }
    100%{
    	opacity: 1;
    }
}
.fade-in {
    -webkit-animation: fadeIn 1s forwards;
    animation: fadeIn 1s forwards;
}
@keyframes fadeInZoom {
    0%{
    	opacity: 0;
    	transform: scale(0.8);
		-ms-transform: scale(0.8);
		-webkit-transform: scale(0.8);
    }
    100%{
    	opacity: 1;
    	transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
    }
}
@-webkit-keyframes fadeInZoom {
    0%{
    	opacity: 0;
    	transform: scale(0.8);
		-ms-transform: scale(0.8);
		-webkit-transform: scale(0.8);
    }
    100%{
    	opacity: 1;
    	transform: scale(1.2);
		-ms-transform: scale(1.2);
		-webkit-transform: scale(1.2);
    }
}
.fade-in-zoom {
    -webkit-animation: fadeInZoom 5s forwards;
    animation: fadeInZoom 5s forwards;
}


@keyframes listOutAnima {
   from{top: 0;}
   to{top: 100px;}
}
@-webkit-keyframes listOutAnima {
   from{top: 0;}
   to{top: 100px;}
}
.list-out-anima {
    -webkit-animation: listOutAnima 0.2s forwards;
    animation: listOutAnima 0.2s forwards;
}
@keyframes listInAnima {
   from{top: 100px;}
   to{top: 0;}
}
@-webkit-keyframes listInAnima {
   from{top: 100px;}
   to{top: 0;}
}
.list-in-anima {
    -webkit-animation: listInAnima 0.5s forwards;
    animation: listInAnima 0.5s forwards;
}


.start-pic {
	opacity: 0;
	background: url(images/android_logo.png);
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -65px;
	width: 400px;
	height: 130px;
}
.heading-container {
	box-shadow: inset -20px 0px 10px 2px #000, inset -20px 0 0px 2px #ccc;
	overflow: hidden;
	width: 100%;
	height: 50px;
	background: url(images/metal_texture.jpg);
	display: block;
	padding: 30px 50px;
	.shade {
		background: #090909;
		width: 400px;
		height: 300px;
		border-radius: 100px 100px 0 0;
		box-shadow: 0 0 20px 0px #000, 0 0 0px 1px #ccc;
		padding-top: 20px;
	}
	
}

.wrapper {
	opacity: 0;
	display: none;
	overflow: hidden;
	@media screen and (max-width: 700px) {
         padding: 0;
    }
}
.main-content {
	width: 100%;
	padding-bottom: 100px;
	padding-top: 0px;
	.title-image {
		background: url(images/android_logo.png);
		background-size: 100% 100%;
		width: 300px;
		height: 100px;
		margin: -60px 0 10px 100px;
	}
	.author {
		font-size: 25px;
		color: #fff;
		margin-left: 100px;
		margin-bottom: -30px;
		font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
	}
    .media-wrap {
    	@include linear-gradient(130deg, #777, #222);
    	border-radius: 100px;
    	box-shadow: 0 0 8px 0 #000, inset 0 0 0 1px #777, inset 1px 1px 5px 1px #000;
    	width: 1000px;
    	padding: 100px;
    	margin: 60px auto;
    	position: relative;
    	z-index: 20;
    	.title {
    		font-size: 60px;
    		color: #222;
    		margin-bottom: 20px;
    		font-weight: bold;
    		display: inline-block;
    		text-shadow: 1px 1px 1px #999;
    		font-family: "Open Sans Condensed";
    		font-weight: 800;
    	}
    	.description {
    		color: #fff;
    		font-size: 18px;
    		text-shadow: 1px 1px 2px #000;
    		margin-bottom: 50px;
    	}
    	.logo-container {
    		float: left;
			padding: 20px;
			margin-right: 20px;
			height: 170px;
			width: 170px;
			background-color: #fff;
			border-radius: 50%;
			box-shadow: inset 1px 1px 5px 2px #222;
			img {
				margin: auto;
				height: 170px;
				width: 170px;
			}
		}
		.cell-phone {
	    	float: right;
	    	width: 210px;
	    	height: 357px;
	    	background: url(images/cell_phone.png);
	    	background-size: 100% 100%;
	    	margin-left: 20px;
	    	.slide-wrap {
		    	width: 190px;
		    	height: 300px;
		    	//overflow: hidden;
		    	padding: 0;
		    	margin: 30px auto 0 auto;
		    	font-size: 0;
		    	#slider1_container {
			    	position: relative;
			    	height: 300px;
			    	width: 190px;
			    	overflow: hidden;
			    	.slides {
			    		position: absolute;
			    		height: 300px;
			    		width: 190px;
			    	}
		    	}
		    }
	    }
    }
    iframe {
    	width: 350px;
    	height: 350px;
    	border-radius: 5px;
    	box-shadow: 1px 1px 5px 0 #000;
    	float: left;
    }
}


.menu-container {
	width: 950px;
	margin: auto;
	position: relative;
	li {	
		vertical-align: top;
		font-family: "Open Sans Condensed";
		background-color: #2781C6;
        position: relative;
        top: 100px;
        display: inline-block;
        font-size: 3em;
        color: #fff;
        text-shadow: 1px 1px 1px #333;
        font-weight: bold;
        margin: 0px -10px 0 0;
        cursor: pointer;
        padding: 5px 20px 30px 20px;
        border-radius: 30px 30px 0 0;
        z-index: 1;
        box-shadow: 0px 2px 10px 2px #000;
        &:hover {
        	box-shadow: 0 0 20px 5px #000;
            z-index: 2;
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
            background-color: #164D78;
            -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
        }
        img {
        	height: 40px;
        	width: 40px;
        	float: left;
        	margin-right: 5px;
        }
    }
}
 .menu {
 		right: 0;
        opacity: 1;
        padding-top: 12px;
        position: absolute;
        z-index:1;
        margin-bottom: -27px;

    }
.app-menu {
    @extend .menu;

}




.clear {
	clear: both;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}