html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div{
	margin: 0;
	padding: 0;
}
html {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
body {
	background: url(images/blue_background2.jpg);
	background-size: 100% 100%;
}
.heading-container {
	padding: 10px;
	border-radius: 85px;
	border: 2px solid #ccc;
	box-shadow: 0 0 30px 10px #000, inset 0 0 10px 0 #000;
	width: 700px;
	height: 150px;
	background: url(images/repeating_background.png);
	display: none;
	margin: 10px auto 30px auto;
	.logo-container {
		padding: 10px;
		display: inline-block;
		height: 130px;
		width: 130px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 2px 2px 5px 0 #000;
		img {
			margin: auto;
			height: 120px;
			width: 120px;
		}
	}
	.title-text {
		width: 530px;
		float: right;
		display: inline-block;
		margin-top: 8px;

		.title {
			padding-top: 20px;
			padding-bottom: 10px;
			text-shadow: 0 0 20px #000;
			color: #fff;
			font-size: 3.8em;
			text-shadow: 2px 2px 5px #000;
		}
		.created-by-text {
			text-shadow: 0 0 20px #000;
			font-size: 2.2em;
			color: #bbb;
			display: none;
			text-shadow: 2px 2px 5px #000;
		}
	}
}

.wrapper {
	padding: 20px;
	@media screen and (max-width: 700px) {
         padding: 0;
    }
}
.main-content {
	box-shadow: 0 0 30px 5px #000, inset 0 0 10px 0 #000;
	background-color: #ccc;
	width: 1000px;
	margin: 10px auto;
	padding: 20px;
	border-radius: 100px 100px 50px 50px;
	@media screen and (max-width: 1100px) {
         width: 90%;
    }
    @media screen and (max-width: 700px) {
         width: 100%;
         margin: 0;
         border-radius: 0;
         padding: 10px 0 0 0;
    }
	.description {
		margin: auto;
		border-radius: 70px 70px 20px 20px;
		width: 90%;
		h4 {
			text-shadow: 2px 2px 5px #999;
			text-indent: 30px;
			font-size: 2em;
			color: #222;
			@media screen and (max-width: 700px) {
         		font-size: 1.5em;
         		margin-bottom: 10px;
    		}
		}
	}
	
	.media-container {
		box-shadow: 0 0 20px 5px #000, inset 0 0 5px 0 #000;
		border-radius: 20px;
		border: 1px solid #777;
		background: url(images/repeating_background.png);
		width: 860px;
		display: block;
		padding: 20px;
		margin: 20px auto;
		@media screen and (max-width: 1100px) {
         width: 90%;
        }
        @media screen and (max-width: 700px) {
         margin: 0 auto;
         padding: 5px;
    	}
	}
	iframe {
		box-shadow: 0 0 20px 5px #000;
		border: 10px solid #222;
		border-radius: 10px;
		width: 500px;
		height: 500px;
		margin: 0;
		display: inline-block;
		@media screen and (max-width: 1100px) {
         margin:  0 auto;
         display: block;
        }
        @media screen and (max-width: 700px) {
         width: 90%;
    	}
	}
	#slider1_container{
		box-shadow: 0 0 20px 5px #000;
		border: 10px solid #222;
		border-radius: 10px;
		float: right;
		display: inline-block;
		width: 300px;
		height: 500px;
		margin: 0;
		@media screen and (max-width: 1100px) {
         float: none;
         margin: 20px auto 0 auto;
         display: block;
        }
		.slider2 {
			width: 300px;
			height: 500px;
		}
	}

	 img {
		background-size: 100% 100%;
	}
}
.clear {
	clear: both;
}