html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div{
	margin: 0;
	padding: 0;
}
html {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}
body {
	background: url(images/blue_background2.jpg);
	background-size: 100% 100%;
}
.heading-container {
	position: absolute;
	padding: 10px;
	border-radius: 85px;
	border: 2px solid #ccc;
	box-shadow: 0 0 30px 10px #000, inset 0 0 10px 0 #000;
	width: 700px;
	height: 150px;
	background: url(images/repeating_background.png);
	display: block;
	left: -730px;
	top: 12px;
	.logo-container {
		padding: 10px;
		display: inline-block;
		height: 130px;
		width: 130px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 2px 2px 5px 0 #000;
		img {
			margin: auto;
			height: 120px;
			width: 120px;
		}
	}
	.title-text {
		width: 530px;
		float: right;
		display: inline-block;
		margin-top: 8px;

		.title {
			padding-top: 20px;
			padding-bottom: 20px;
			text-shadow: 0 0 20px #000;
			color: #fff;
			font-size: 3.8em;
			display: none;
			text-shadow: 2px 2px 5px #000;
		}
		.created-by-text {
			text-shadow: 0 0 20px #000;
			font-size: 2.2em;
			color: #bbb;
			display: none;
			text-shadow: 2px 2px 5px #000;
		}
	}
}

.wrapper {
	padding: 20px;
}
.main-content {
	box-shadow: 0 0 30px 5px #000, inset 0 0 10px 0 #000;
	background-color: #ccc;
	width: 1000px;
	margin: 180px auto;
	padding: 20px;
	border-radius: 100px 100px 50px 50px;
	.description {
		box-shadow: 0 0 20px 5px #000, inset 0 0 5px 0 #000;
		margin: auto;
		border-radius: 70px 70px 20px 20px;
		border: 1px solid #ccc;
		width: 900px;
		background: url(images/repeating_background.png);
		h4 {
		text-shadow: 2px 2px 5px #000;
		text-indent: 30px;
		font-size: 1.8em;
		color: #eee;
		padding: 20px;
		font-family: "Raleway";
		font-weight: 100;
		}
	}
	
	.media-container {
		box-shadow: 0 0 20px 5px #000, inset 0 0 5px 0 #000;
		border-radius: 20px;
		border: 1px solid #ccc;
		background: url(images/repeating_background.png);
		width: 860px;
		display: block;
		padding: 20px;
		margin: 20px auto;
	}
	iframe {
		box-shadow: 0 0 20px 5px #000;
		border: 10px solid #222;
		border-radius: 10px;
		width: 500px;
		height: 500px;
	}
	#slider1_container{
		box-shadow: 0 0 20px 5px #000;
		border: 10px solid #222;
		border-radius: 10px;
		float: right;
		display: inline-block;
		width: 300px;
		height: 500px;
		.slider2 {
			width: 300px;
		height: 500px;
		}
	}

	 img {
		background-size: 100% 100%;
	}
}
.clear {
	clear: both;
}